{{#partial "content"}}

    <div class="top">
        <h1 class="text-center" > Welcome To Wildlife Tracker </h1>
    </div>
    <div class="text-center">
        <h3>"The message is simple: love and conserve our wildlife."</h3>
        <h3>~ Steve Irwin</h3>
    </div>
    <div class="details text-center">
        <p><a href="/view/rangers" class="btn btn-warning" role="button" aria-pressed="true">View Ranger</a></p>
        <p><a href="/view/animals" class="btn btn-warning" role="button" aria-pressed="true">View Animal</a></p>
        <p><a href="/view/locations" class="btn btn-warning" role="button" aria-pressed="true">View Location</a></p>
        <p><a href="/view/sightings" class="btn btn-warning" role="button" aria-pressed="true">View Sightings</a></p>
    </div>

{{/partial}}

{{> layout.hbs}}