{{#partial "content"}}

    <div class="top">
        <h1 class="text display-4" > Wildlife Tracker </h1>
    </div>
    <div class="details">
        <ul>
            <li><button><a class="" href="/view/rangers"style="color:white;">View Ranger</a></button><li>
            <li><button><a class="" href="/view/animals"style="color:white;">View Animal</a><button><li>
            <li><button><a class="" href="/view/locations"style="color:white;">View Location</a><button><li>
            <li><button><a class="" href="/view/sightings"style="color:white;">View Sighting</a><button></li>
        </ul>
    </div>

{{/partial}}

{{> layout.hbs}}